.Header {
    margin: 0 -15px 50px;
}

.SocialPage {
    text-align: center;
}

.SocialPanel {
    width: 180px;
    box-sizing: content-box;
    display: inline-block;
    border: 2px #666 solid;
    text-align: center;
    background-color: #333;
    color: #FFF;
    margin: 0 5px 10px;
    padding: 0 0 15px;
}

.SocialPanel:hover {
    text-decoration: none;
    color: #FFF;
}

.SocialPanel .image > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 128px auto;
    width: 180px;
    height: 180px;
}

.SocialPanel .image > div.hover {
    display: none;
}

.SocialPanel:hover .image > div.hover {
    display: block;
}

.SocialPanel:hover .image > div.off {
    display: none;
}

.SocialPanel .title {
    border: solid #666;
    border-width: 2px 0 0;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 0 0;
}

.StreamsPage {
    font-size: 2em;
    text-align: center;
}